@using ChartJs.Blazor.Sample.Shared.Extensions

<div class="form-group">
    <label for="textAreaId">Chart Dataset - You can Edit Me</label>
    <textarea id="textAreaId"
                ref="datasetsTextArea"
              class="form-control"
              Width="@Width"
              Height="@Height"
              Rows="@Rows"
              oninput="@OnKeyUp"
              bind-value-onchange="@DataSetsStr"
              style="display: block; margin-left: auto; margin-right: auto"></textarea>
</div>

@functions {

    ElementRef datasetsTextArea;

    [Parameter]
    int Width { get; set; } = 600;

    [Parameter]
    int Height { get; set; } = 600;

    [Parameter]
    int Cols { get; set; } = 0;

    [Parameter]
    int Rows { get; set; } = 25;


    //void OnKeyUp(UIChangeEventArgs args)
    async void OnKeyUp(UIEventArgs args)
    {
        var datasetsTextAreaVal = await datasetsTextArea.GetValue().ConfigureAwait(false);
        OnUpdatedDataSetsStr?.Invoke(datasetsTextAreaVal);
    }

    private string _dataSetsStr;

    [Parameter]
    string DataSetsStr
    {
        get => _dataSetsStr;
        set
        {
            _dataSetsStr = value;
            OnUpdatedDataSetsStr?.Invoke(_dataSetsStr);
        }
    }

    [Parameter]
    Action<string> DataSetsStrChanged { get; set; }

    //[Parameter]
    public Action<string> OnUpdatedDataSetsStr { get; set; }
}