@using ChartJs.Blazor.Sample.Shared.Extensions

<form style="margin-top: 20px">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="textAreaId">Chart Dataset - You can Edit Me</label>
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-primary float-right"
                    type="button"
                    onclick="@RestoreInitialData">
                I messed up
            </button>
        </div>
    </div>
    <div class="form-row">
        <textarea id="textAreaId"
                      colspan="2"
                      ref="datasetsTextArea"
                      class="form-control"
                      Width="@Width"
                      Height="@Height"
                      Rows="@Rows"
                      oninput="@OnKeyUp"
                      bind-value-onchange="@DataSetsStr"
                      style="display: block; margin-left: auto; margin-right: auto"></textarea>
    </div>
</form>

@functions {

    private string _initialData = null;

    ElementRef datasetsTextArea;

    [Parameter]
    int Width { get; set; } = 600;

    [Parameter]
    int Height { get; set; } = 600;

    [Parameter]
    int Cols { get; set; } = 0;

    [Parameter]
    int Rows { get; set; } = 25;

    async void OnKeyUp(UIEventArgs args)
    {
        var datasetsTextAreaVal = await datasetsTextArea.GetValue().ConfigureAwait(false);
        OnUpdatedDataSetsStr?.Invoke(datasetsTextAreaVal);
    }

    private string _dataSetsStr;

    [Parameter]
    string DataSetsStr
    {
        get => _dataSetsStr;
        set
        {
            _initialData = _initialData ?? value;

            _dataSetsStr = value;
            OnUpdatedDataSetsStr?.Invoke(_dataSetsStr); // unfortunately this changes on when the text area looses focus; bind-value-onchange isn't working right now
        }
    }

    [Parameter]
    Action<string> DataSetsStrChanged { get; set; }

    //[Parameter]
    public Action<string> OnUpdatedDataSetsStr { get; set; }

    private void RestoreInitialData()
    {
        DataSetsStr = _initialData;
    }

}